body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    background-color: #ffffff;
    font-family: 'Source Code Pro', monospace;
    color: #36454F;
}

.navbar {
    background-color: #ffffff;

}